
header
{
    height:300px;
    border:1px dashed black;
    font-family: 'DotGothic16', sans-serif;
}
a.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    display: inline-block;  
}
a.blue {
    color: #fff;
    background: linear-gradient(to right,#00d9e6,#c852ff);
    padding: 15px 33px;
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid #10eee8;
}
i {
    padding-right:10px;
}
li
{
    list-style: none;
    display:inline-block;
    padding-right:100px;
    padding-top:5px; 
}
nav a{
    text-decoration: none;
}
h1
{
    float:left;
}
nav{
    float:right;
}

.card
{
  height:166px;
  width:241px;
  border:1px solid black;
  margin:20px;
}
article
{
  display:flex;
  margin-left:2%;
}
nav iframe {
  margin-left:25%;
  border-radius: 5px;;
}